/* Created by: ZoiaB
* Created on: May 2023
* This CSS file defines the style for index.php
* ICS2O-Unit5-01-PHP-EvenNumberDisplay
*/

body {
  width: 80%;
  margin: 5% 10%;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #e78c88;
}

h1 {
  padding: 30px;
  text-align: center;
  color: white;
  background-color: #4689aa;
}

iframe {
  border: none;
  width: 100%;
  length: 100%;
}
